@page
@model Pages_Index
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <img src="/img/796852.jpg" class="img-fluid"/><!---img-fluid hace responsive-->
    </div>
</div>
