@page
@model Agenda.Pages.Categorias.BorrarModel
@{
    ViewData["Title"] = "Borrar una categoria";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Borrar una nueva categoria</h2>

            <form method="post">

                <input type="hidden" asp-for="Categoria.Id"/> <!--Guarda el id, para pasarlo en editar-->
                <div class="mb-3">
                    <label asp-for="Categoria.Nombre" class="form-label"></label>
                    <input asp-for="Categoria.Nombre" class="form-control" placeholder="Ingresar nombre" readonly/>
                    <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Categoria.FechaCreacion" class="form-label"></label>
                    <input asp-for="Categoria.FechaCreacion" class="form-control" readonly/>
                    <span asp-validation-for="Categoria.FechaCreacion" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Borrar Categoria</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success">Volver</a>
        </div>
    </div>

</div>
