@page
@model Agenda.Pages.Contactos.BorrarModel
@{
    ViewData["Title"] = "Borrar un contacto";
}
<body style="background-image:url(/wwwroot/img/796852.jpg)"></body>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-info">Borrar un contacto</h2>
            <form method="post">
                <input type="hidden" asp-for="ContactoVM.Contacto.Id" />
                <div class="mb-3">
                    <label asp-for="ContactoVM.Contacto.Nombre" class="form-label"></label>
                    <input asp-for="ContactoVM.Contacto.Nombre" class="form-control" placeholder="Ingresar nombre" readonly />
                    <span asp-validation-for="ContactoVM.Contacto.Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ContactoVM.Contacto.Email" class="form-label"></label>
                    <input asp-for="ContactoVM.Contacto.Email" class="form-control" placeholder="Ingresar email" readonly />
                    <span asp-validation-for="ContactoVM.Contacto.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ContactoVM.Contacto.Telefono" class="form-label"></label>
                    <input asp-for="ContactoVM.Contacto.Telefono" class="form-control" placeholder="Ingresar telefono" readonly />
                    <span asp-validation-for="ContactoVM.Contacto.Telefono" class="text-danger"></span>
                </div>
                <!---Lista de categoria-->
                <div class="mb-3">
                    <label asp-for="ContactoVM.Contacto.Categoria" class="form-label"></label>
                    <input asp-for="ContactoVM.Contacto.Categoria.Nombre" class="form-control" placeholder="Ingresar telefono" readonly />
                </div>


                <div class="mb-3">
                    <label asp-for="ContactoVM.Contacto.FechaCreacion" class="form-label"></label>
                    <input asp-for="ContactoVM.Contacto.FechaCreacion" class="form-control" readonly />
                    <span asp-validation-for="ContactoVM.Contacto.FechaCreacion" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Borrar Contacto</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success">Volver</a>
        </div>
    </div>

</div>